#navigator-toolbox {
	border-bottom: 0px !important;
}

#nav-bar:not([customizing="true"]):not([inFullscreen]) {
	min-height: 0px !important;
	max-height: 0px !important;
	/*margin-top: 0px !important;
	margin-bottom: -1px !important;*/
	transition: all 50ms linear 0s !important;
	z-index: -5 !important;
	overflow: hidden !important;
	

	#urlbar, #urlbar-container {
		min-height: 0px !important;
		max-height: 0px !important;
		transition: all 50ms linear 0s !important;
		z-index: -5 !important;
		overflow: hidden !important;
	}
}

#navigator-toolbox:hover:not([inFullscreen]) :-moz-any(#nav-bar),
#navigator-toolbox:focus-within :-moz-any(#nav-bar) {
	min-height: 32px !important;
	max-height: initial !important;
	/*margin-top: 1px !important;
	margin-bottom: -32px !important;*/
	transition: all 50ms linear 0s !important;
	z-index: 5 !important;
	overflow: initial !important;
	

	#urlbar, #urlbar-container {
		min-height: var(--urlbar-container-height);
		max-height: initial !important;
		transition: all 50ms linear 0s !important;
		z-index: -5 !important;
		overflow: initial;
	}
}

/* Needed for for FF 75 megabar */
#urlbar {
	--urlbar-toolbar-height: 30px !important;
	--urlbar-height: 30px !important;
}

#tabbrowser-tabs, #tabbrowser-tabs > .tabbrowser-arrowscrollbox {
	min-height: 0 !important;
}

/* Thanks to @Speravir for making it work again in the latest versions. */
#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"] {
	visibility: collapse;
}

/* I don't use tabs so I just hide the new tab button. You should be able to use a similar trick as the rule above with
css siblings selectors if you want to keep it when the tab bar is visible. */
#tabbrowser-tabs .tabs-newtab-button { 
	visibility: collapse !important;
}

#tabbrowser-tabs tab {
	min-height: var(--tab-min-height)
}

/* Hide solo tab */
#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"] {
    visibility: collapse;
}

/* Hide New Tab Button immediately next to solo tab */
#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"] + toolbarbutton {
    visibility: collapse;
}

.titlebar-spacer {
    display: none;
}

#nav-bar {
	box-shadow: none !important 
}

